body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 1px;
    background-color: #444;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-size: 17px;
    font-weight: lighter;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #444;
}

.header__title {
    font-weight: bold;
}

.header__title:hover {
    font-weight: 200;
}

h2 {
    font-weight: bold
}

h2:hover {
    font-weight: 200;
}

.header {
    background: #fff;
    color: #000;
    padding: 20px 0;
    text-align: center;
}

.header__title {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    transform: translateX(-250px);
}

.header .container {
    display: block;
    text-align: center;
    margin: 15px;
}

.header .container img {
    display: block;
    margin: 0 auto;
}

.about {
    padding: 50px 0;
    text-align: center;
    background: #f8f8f8;
}

.about p {
    display: block;
    background: #f8f8f8;
    text-align: center;
    color: #000;
    overflow-wrap: break-word;
    max-width: 415px;
    font-weight: 400;
    margin: 0 auto;
    padding: 20px 0;
}

.smooth1:hover {
    font-weight: 550;
}

.smooth2:hover {
    font-weight: 550;
}

.smooth3:hover {
    font-weight: 550;
}


.skills {
    padding: 25px 0;
    background: #fff;
}

.skills .container h2,
p {
    display: flex;
    justify-content: center;
}

.skills .container p {
    transform: translateY(-10px)
}

.skills__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio {
    padding-top: 80px;
    background: #f8f8f8;
}

.portfolio__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.portfolio__item img {
    border-radius: 8px;
}

.portfolio__item p {
    display: flex;
    justify-content: center;
    margin: 45px;
    font-weight: 200;
}

.portfolio__item p:hover {
    font-weight: bold;
}

.portfolio .container h2 {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 20px 0;
    background: #fff;
    color: #000;
    text-align: center;
}

.contacts__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}

.footer-information {
    font-weight: 200;
}

.footer-information:hover {
    font-weight: bold;
}

.send {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sub_text {
    display: block;
    color: #444;
    overflow-wrap: break-word;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-weight: 200;
}

.sub_text:hover {
    font-weight: bold;
}

.send:hover {
    background-color: #444;
    transform: scale(1.05);
}

.send:active {
    transform: scale(0.95);
}

.contacts__links a {
    display: inline-block;
    text-decoration: none;
}

.contacts__links img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.contacts__links img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: #19191ae7;
    border-radius: 8px;
}