:root {
    --color-red: red;
    --color-blue: blue;
    --color-orange: #F78D2E;
    --color-orange-hover: #F07A2C;
    --color-orange-active: #d67b2b;
    --border-color: #F78D2E;
    --color-white: #FFF;
}